* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.postcard {
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.postcard .title {
  color: red;
}
.postcard .content {
  color: green;
}

.header {
  position: relative;
  background-color: rgba(145, 13, 13);
  height: 150px;
  color: white;
  z-index: 1;
}

.header::before {
  position: absolute;
  content: "";
  background-image: url("./assets/sea-beach.jpeg");
  opacity: 0.1;
  background-size: cover;
  background-position: center center;
  height: 150px;
  width: 100%;
  left: 0px;
  top: 0;

  z-index: -1;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu li {
  color: white;
  padding: 3px;
  width: 155px;
  margin-top: 30%;
  margin-right: 5px;
  text-transform: uppercase;
}
